.fila-j2 {
    text-align: center;
    width: auto;
    height: 200px;
    float: left;
    margin: 40px 0px 40px 40px;
}

.tablaj2{
    height: auto;
    width: auto;
}

.menu-j2{
    text-align: center;
    width: auto;
    height: 100px;
    float: left;
    background: #42f44b;
    margin: 40px 0px 40px 40px;
}

.paco{
   width: 100px;
}

.tina{
    width: 142px;
}

.greenBackground {
    background-color: #5f5;
    border-radius: 10%
}