body {
    color: black;
    background-image: url(../img/summer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: fixed;
    background-attachment: fixed;
}

nav {
    background-color:#20a8d8 !important;
    color: black;
}

.colorPrincipal{
    color:#6a5f99;
}

.lightYellow {
    background: #ffe180;
}

.lightBlue {
    background: #20a8d8;
}

.box-image {
    border: 5px dashed transparent;
    border-color: #20a8d8 !important;
    width: 100px;
    height:105px;
}

.img {
    height: 7rem;
    width: 8rem;
    border-radius: 4px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    height: 150px;
    display: inline-block;
    justify-content: center;
}

.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.colorBlack {
    color: black;
}

.tacho {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
}

.dflexjcc {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

h1{
    color: white !important;
    cursor: pointer;
}

.box-image2 {
    border: 5px dashed transparent;
    border-color: aqua;
    width: 75px;
    height: 75px;
}

.tabla20{
    width: 400px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 10px;
}