body {
    color: black;
    background-image: url(../img/degrade1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background-color:#20a8d8 !important;
    color: black;
}

.colorPrincipal{
    color:#6a5f99;
}

.lightYellow {
    background: #ffe180;
}

.box-image {
    border: 5px dashed transparent;
    border-color: #20a8d8 !important;
    width: 105px;
    height:105px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position: absolute;
    bottom:0;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/grass.png);
    height: 100px;
    display: inline-block;
    justify-content: center;
    position: absolute;
}

.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.colorBlack {
    color: black;
}
