body {
    color: black;
    background-image: url(../img/spring.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: fixed;
}

nav {
    background-color:#20a8d8 !important;
    color: black;
}

.colorPrincipal{
    color:#6a5f99;
}

.lightYellow {
    background: #ffe180;
}

.box-image {
    border: 5px dashed transparent;
    border-color: #20a8d8 !important;
    width: 105px;
    height:105px;
}

.footer {
    padding-top: 10px;
    padding-bottom: 0px;
    position:fixed;
    bottom:0;
    width:100%;
    height: 150px;
    display: inline-block;
    justify-content: center;
}

.backgroundImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-icon {
    width: 50px;
    height: 50px;
}

.dflexjcc {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.black {
    color: black;
}

.cartelComenzar {
    text-align: center; 
    height: 200px; 
    width: 300px; 
    margin: auto; 
    border-radius: 10%; 
    display: block
}